Flask
flask
Flask-Cors
Flask-SQLAlchemy
Flask-Migrate
python-dotenv
scikit-learn
python-dotenv 
argon2-cffi
secure-smtplib
pandas
psycopg2-binary
smtplib
MIMEText
flask_sqlalchemy
dotenv
psycopg2
argon2